<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        <form action="/data"> 
            <input type="text" name="FirstName" placeholder="FirstName" required='required'/>
            <br/>
            <br/>
            <input type="text" name="SecondName" placeholder="SecondName" required='required'/>
            <br/>
            <br/>
            <input type="number" name="PhoneNumber" placeholder="PhoneNumber" required='required'/>
            <br/>
            <br/>
            <input type="email" name="Email" placeholder="Email" required='required'/>
            <br/>
            <br/>
            <input type="submit" value="submit"/>
        </form>
        
</html>