<html>
    <head>
        <title>Diabetic Test</title>
    </head>
    <BODY>
       <form action="/result" method="POST">
        <input type="number" name="preg" placeholder="Preg" required='required'/>
        <br/>
        <br/>
        <input type="number" name="plas" placeholder="Plas" required='required'/>
        <br/>
        <br/>
        <input type="number" name="pres" placeholder="Pres" required='required'/>
        <br/>
        <br/>
        <input type="number" name="skin" placeholder="Skin" required='required'/>
        <br/>
        <br/>
        <input type="number" name="test" placeholder="Test" required='required'/>
        <br/>
        <br/>
        <input type="number" name="mass" placeholder="Mass" required='required'/>
        <br/>
        <br/>
        <input type="number" name="pedi" placeholder="Pedi" required='required'/>
        <br/>
        <br/>
        <input type="number" name="age" placeholder="Age" required='required'/>
        <br/>
        <br/>
        <!-- <input type="submit" value="Submit"/> -->
        <button type ='submit'>Predict</button>
       </form>
    </BODY>
</html>